<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look Within | Discussions</title>
    <link rel="icon" href="Images/favicon.png">
    <link href="CSS/style.css" rel="stylesheet">
    <link href="CSS/discussions.css" rel="stylesheet">
    <link href="CSS/consultations.css" rel="stylesheet">
</head>

<body>
    <section id="discussions-header">
        <a href="/discussions">
            <img src="/Images/Look Within-logos_transparent.png">
        </a>
        <div id="header-text">
            <h2>
                Welcome to our Consultation Offerings
            </h2>
            <h3>
                Because emotional well-being is just as important as breathing is!
            </h3>
        </div>
    </section>

    <section id="consult-cont">
        <div class="card2">
            <a href="/psychlog">
            <h2>I'm a Psychiatrist</h2>
            </a>
        </div>

        <div class="card2">
            <a href="/consult">
            <h2>I'm looking to consult</h2>
            </a>
        </div>
    </section>




</body>

</html>