<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look Within | Discussions</title>
    <link rel="icon" href="Images/favicon.png">
    <link href="CSS/style.css" rel="stylesheet">
    <link href="CSS/discussions.css" rel="stylesheet">
    <link href="CSS/consult.css" rel="stylesheet">
</head>

<body>
    <section id="discussions-header">
        <a href="/discussions">
            <img src="/Images/Look Within-logos_transparent.png">
        </a>
        <div id="header-text">
            <h2>
                Welcome to our Consultations Page
            </h2>
            <h3>
                Please book a consultation here!
            </h3>
        </div>
    </section>

    <section id="just-for-data">
        <%= consultdata%>
    </section>

    <section id="consult-cont">

    </section>

    <script src="JS/consult.js"></script>
</body>
</html>