<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look Within | Discussions</title>
    <link rel="icon" href="Images/favicon.png">
    <link href="CSS/style.css" rel="stylesheet">
    <link href="CSS/discussions.css" rel="stylesheet">
</head>

<body>
    <section id="discussions-header">
        <a href="/discussions">
            <img src="/Images/Look Within-logos_transparent.png">
        </a>
        <div id="header-text">
        <h2>
            Welcome to our Discussion Channel!
        </h2>
        <h3>
            Remember to be respectful to everyone in the community!
        </h3>
    </div>
    </section>

    <section id="chats">
        <div class="container"></div>
        <div class="send">
            <form action="#" id="send-container">
                <input type="text" name="messageInp" id="messageInp">
                <button class="btn" type="submit">Send</button>
            </form>
        </div>
    </section>


    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
        integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
        crossorigin="anonymous"></script>
    <script src="JS/discussions.js"></script>


</body>

</html>