<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look Within | Home</title>
    <link rel="icon" href="Images/favicon.png">

    <link href="CSS/style.css" rel="stylesheet">
    

</head>

<body>

    <header id="header-for-bg">

    </header>

    <!-- Navigation Bar -->
    <nav id="navbar">

        <div id="logo">
            <a href="/">
                <img src="/Images/navbar_image.png">
            </a>
        </div>

        <ul id="tabs">
            <li class="tab activenow">
                <a href="/">
                    HOME
                </a>
            </li>
            <li class="tab">
                <a href="/resources">
                    RESOURCES
                </a>
            </li>
            <li class="tab">
                <a href="/tools">
                    TOOLS
                </a>
            </li>
            <li class="tab">
                <a href="/community">
                    COMMUNITY
                </a>
            </li>
        </ul>

        <div id="login">
            <div>
                <a href=<%= logaction %>>
                    <%= logprompt %>
                </a>
            </div>
        </div>
    </nav>

    <!-- Home Section -->
    <section id="home">
        <img src = "/Images/Look Within-logos_transparent.png">
        <h1>
            Look Within
        </h1>
        <h3>
            A Holistic Platform for Your Mental WellBeing!
        </h3>
        <a href="#about">
            <button>
                EXPLORE
            </button>
        </a>
    </section>

    <!-- About Us Section -->
    <section id="about">
        <div id="about-us">
            <h3>
                About Look Within
            </h3>
            <p>
                We are a a safe and supportive space where you can take control of your mental health and well-being. The platform is designed to empower you with the tools and resources you need to improve your emotional and mental wellbeing, and live a happier, more fulfilling life. We provide various resources to rejuvenate your mood; and have different tools for you to check your Health status. Our helpful community allows you to take appointments with various psychiatrists, and discuss any problem that bugs you. 
            </p>
        </div>
        <!-- <div id = "locations">
            <h4>
                Locations
            </h4>
            <ul>
                <li>GURUGRAM</li>
                <li>DELHI</li>
                <li>CHANDIGARH</li>
                <li>KARNAL</li>
                <li>SHIMLA</li>
            </ul>
        </div> -->
        <div id="cards">
            <div class="card">
                <a href="/resources">
                <img src="/Images/resources.jfif">
            </a>
                <a href="/resources">
                <h2>Resources</h2>
                </a>
                <a href="/resources">
                <p>
                    Brighten up your mood with our great blogs, motivational videos and refreshing playlists
                </p>
            </a>
            
            </div>
            <div class="card">
                <a href="/tools">
                <img src="/Images/tools.jfif">
            </a>
            <a href="/tools">
                <h2>Tools</h2>
            </a>
            <a href="/tools">
                <p>
                    Your mental wellbeing is strongly correlated to your physical wellbeing. Measure your accurate physical parameters with our specially designed tools 
                </p>
            </a>

            </div>
            <div class="card">
                
                <img src="/Images/consultancy.jfif">
            </a>
            <a href="/community">
                <h2>Community</h2>
            </a>
            <a href="/community">
                <p>
                    Have a healthy conversation with fellow community members, which includes various psychiatrists, with whom you can book one-on-one sessions
                </p>
            </a>
            </div>
            
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div id="footer1">
            <h5>CONTACT US</h5>
            <p>
                Office : A11-1A, North Campus, IIT Mandi, Kamand - 175005
                <br>
                Telephone : XXXXXXXXX
                <br>
                Email : XXXXXXXXXX
            </p>
        </div>
        <div id="footer2">
            <p>
                Made By: <br>
                &emsp; port_8080- <br>
                &emsp;&emsp; Riya Arora <br>
                <!-- &emsp;&emsp; Paras Bedi -->
            </p>
        </div>
    </footer>


</body>

</html>