<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look Within | Resources</title>
    <link rel="icon" href="Images/favicon.png">

    <link href="CSS/style.css" rel="stylesheet">
    <link href="CSS/resources.css" rel="stylesheet">

</head>

<body>

    <header id="header-for-bg">

    </header>

    <!-- Navigation Bar -->
    <nav id="navbar">

        <div id="logo">
            <a href="#home">
                <img src="/Images/navbar_image.png">
            </a>
        </div>

        <ul id="tabs">
            <li class="tab" >
                <a href="/">
                    HOME
                </a>
            </li>
            <li class="tab activenow">
                <a href="/resources">
                    RESOURCES
                </a>
            </li>
            <li class="tab">
                <a href="/tools">
                    TOOLS
                </a>
            </li>
            <li class="tab">
                <a href="/community">
                    COMMUNITY
                </a>
            </li>
        </ul>

        <div id="login">
            <div>
                <a href=<%= logaction %>>
                    <%= logprompt %>
                </a>
            </div>
        </div>
    </nav>

    <!-- Home Section -->
    <section id="home">
        <img src="/Images/Look Within-logos_transparent.png">
        <h1>
            Resources
        </h1>
        <h3>
            Music, Video and Blogs Towards a Happier You!
        </h3>
        <div id="buttons">
            <a href="#music">
                <button>
                    Podcasts
                </button>
            </a>
            <a href="#videos">
                <button>
                    Videos
                </button>
            </a>
            <a href="#music2">
                <button>
                    Music
                </button>
            </a>

        </div>

    </section>

    <!-- About Us Section -->
    <section id="music" class="resources">
        <div class="resources-head">
            <h3>
                Podcasts
            </h3>
        </div>
            <div class = "music-holder">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/show/2kH3ec1ljTia7VmwYsm8Xt?utm_source=generator" width="55.5%" height="235" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/show/4298EkFJWEK6VAxKARB7bS?utm_source=generator" width="40%" height="235" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>

            <div class = "music-holder">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/show/7uyfWxsRU1UfCuqhn2HSZZ?utm_source=generator" width="40%" height="235" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/show/0w5G4TjjoiHT8NfBYjDCKB?utm_source=generator" width="55.5%" height="235" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            
            <div class = "music-holder">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/show/4W5LEoAIELfsrFgF5rAoEM?utm_source=generator" width="55.5%" height="235" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/show/2wmaKTc0oGorJ0JcxS2LgS?utm_source=generator" width="40%" height="235" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            
        </div>

    </section>
        
    <!-- Videos Section -->
    <section id="videos" class="resources">
            <div class="resources-head">
                <h3>
                    Motivational Videos
                </h3>
            </div>
            <div id="video1">
                <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/d8p-5WcXoRs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_gJ5V525SCk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/O-6f5wQXSu8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            </div>

                
    </section>

    <!-- Music Section -->
    <section id="music2" class="resources">
        <div class="resources-head">
            <h3>
                Relaxing Music
            </h3>
        </div>
        <div class="playlist-holder">
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1DZ06evO1GC3ja?utm_source=generator" width="31%" height="400" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1r4hnyOWexSvylLokn2hUa?utm_source=generator" width="31%" height="400" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0TRxiaxoTuVwRmmzl71lNH?utm_source=generator" width="31%" height="400" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            
        </div>
            
</section>

    <!-- Footer -->
    <footer>
        <div id="footer1">
            <h5>CONTACT US</h5>
            <p>
                Office : A11-1A, North Campus, IIT Mandi, Kamand - 175005
                <br>
                Telephone : XXXXXXXXX
                <br>
                Email : XXXXXXXXXX
            </p>
        </div>
        <div id="footer2">
            <p>
                Made By: <br>
                &emsp; port_8080- <br>
                &emsp;&emsp; Riya Arora <br>
                &emsp;&emsp; Paras Bedi
            </p>
        </div>
    </footer>

    <!-- For Spotify -->
    <script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>

</body>

</html>