<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look Within | Tools</title>
    <link rel="icon" href="Images/favicon.png">

    <link href="CSS/style.css" rel="stylesheet">
    <link href="CSS/tools.css" rel="stylesheet">

</head>

<body>

    <header id="header-for-bg">

    </header>

    <!-- Navigation Bar -->
    <nav id="navbar">

        <div id="logo">
            <a href="/">
                <img src="/Images/navbar_image.png">
            </a>
        </div>

        <ul id="tabs">
            <li class="tab">
                <a href="/">
                    HOME
                </a>
            </li>
            <li class="tab">
                <a href="/resources">
                    RESOURCES
                </a>
            </li>
            <li class="tab activenow">
                <a href="/tools">
                    TOOLS
                </a>
            </li>
            <li class="tab">
                <a href="/community">
                    COMMUNITY
                </a>
            </li>
        </ul>

        <div id="login">
            <div>
                <a href=<%= logaction %>>
                    <%= logprompt %>
                </a>
            </div>
        </div>
    </nav>

    <!-- Home Section -->
    <section id="home">
        <img src="/Images/Look Within-logos_transparent.png">
        <h1>
            Tools
        </h1>
        <h3>
            Monitor your health with our specially designed tools!
        </h3>
        <div id="arrow">
            <a href="#about">
                <img src="/Images/arrow.png">
            </a>
        </div>
    </section>

    <!-- About Us Section -->
    <section id="about">
        <div id="about-us">
            <h3>
                Oops! No tools currently available
            </h3>
            <br>
            <br>
            <br>
            <h3 id="tools-head">
                Upcoming Tools
            </h3>
        </div>
        <div id="cards">
            <div class="card toolcard">
                <img src="/Images/tools.jfif">
                <h2>Heart Rate</h2>
                <p>
                    Measures your live heart rate by capturing the changes in face skin color!
                </p>
                <p>
                    <br>
                    <a href="https://www.hindawi.com/journals/js/2021/9995871/", target="_blank">Read More</a>
                </p>
            </div>
            <div class="card toolcard">
                <img src="/Images/breathing_rate.jpg">
                <h2>Breathing Rate</h2>
                <p>
                    Your device microphone is used to measure your breathing rate!
                </p>
                <p>
                    <br>
                    <a href="https://pubmed.ncbi.nlm.nih.gov/26415194/", target="_blank">Read More</a>
                </p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div id="footer1">
            <h5>CONTACT US</h5>
            <p>
                Office : A11-1A, North Campus, IIT Mandi, Kamand - 175005
                <br>
                Telephone : XXXXXXXXX
                <br>
                Email : XXXXXXXXXX
            </p>
        </div>
        <div id="footer2">
            <p>
                Made By: <br>
                &emsp; port_8080- <br>
                &emsp;&emsp; Riya Arora <br>
                &emsp;&emsp; Paras Bedi
            </p>
        </div>
    </footer>
</body>

</html>